<div>
  <h2 class="about">About Me</h2>
  <div class="container">
    <div class="img_box"></div>
    <div class="content_box">
      <p style="text-align: justify; padding: 40px; padding-bottom: 10px">
        I am a Full-Stack developer based in Delhi, India. I am an Information
        Technology undergraduate from Maharaja Surajmal Institute of Technology.
        I am very passionate about improving my coding skills & developing new
        applications & websites. I want to contribute to the society using my
        coding skills. Technology is future
      </p>
      <div class="flex">
        <p><span>Age:</span> 21</p>
        <p><span>Phone:</span> 8700654838</p>
      </div>
      <div class="flex">
        <p><span>Edu:</span> B.Tech</p>
        <p><span>Location:</span> Delhi, India</p>
      </div>
    </div>
  </div>
</div>
