<nav>
  <label class="logo">Portfolio</label>
  <ul id="ul">
    <li [routerLinkActive]="'active'">
      <a routerLink="" fragment="home">Home</a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="" fragment="about">About Me</a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="" fragment="contact">Contact</a>
    </li>
  </ul>
</nav>

<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-contact id="contact"></app-contact>
<!-- <app-skills></app-skills> -->
